*.pyc
*.pyo
**/*.pyc
offenesparlament/db.sqlite3
offenesparlament/db.sqlite3-journal
*.sublime-project
*.sublime-workspace
.DS_Store
/.vagrant/
ignore/
node_modules/*
*.map
.sass-cache
local_settings.py
local_manage.py
db.sqlite2