{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Über uns" "about" %}
{% endblock %}

{% block title %}Über uns{% endblock %}

{% block content %}
  <h1>Über uns</h1>
  <p class="explanation">
  OffenesParlament.at ist ein zivilgesellschaftliches Projekt des <a href="https://www.informationsfreiheit.at" target="_blank">Forum Informationsfreiheit</a>.
  Es hat zum Ziel, Informationen rund um die Arbeit des österreichischen Parlaments einfach auffindbar zu machen und benutzerInnenfreundlich aufzubereiten.
  </p>

  <p>
    Dies ist eine erste Version von OffenesParlament.at, wir hoffen in Zukunft weitere Funktionen hinzufügen zu können.
  </p>

  <p>
    Die Inhalte auf dieser Seite basieren auf Informationen und Daten, die wir von der offiziellen Webseite des Parlaments, <a href="https://www.parlament.gv.at" target="_blank">parlament.gv.at</a>, übernehmen. Wir bereiten diese Daten neu auf, um etwa durch neue Verknüpfungen und Darstellungen von Inhalten zusätzliche Nutzungsmöglichkeiten zu erschließen. Auch können Sie sich individuelle Email-Benachrichtigungen einrichten, und wir informieren Sie, wenn es für Sie relevante Neuigkeiten gibt. 
  </p>

  <p>
    Da wir nicht immer die Aktualität, Vollständigkeit und richtige Darstellung von Informationen garantieren können, bitte im Zweifel auf die Quelle zurückgreifen.
  </p>

  <p>
    Die Entstehung von OffenesParlament.at haben wir in unserem <a href="http://offenesparlament.soup.io/">Entwicklungs-Blog</a> dokumentiert.
  </p>

  <p>
    Eine Förderung der <a href="https://www.netidee.at/" target="_blank">Netidee</a> der Internet Foundation Austria (IPA) hat die Entwicklung von OffenesParlament.at möglich gemacht.
  </p>


  <p>
    OffenesParlament.at wird durch die Netidee</a> der Internet Foundation
    Austria (IPA) gefördert.
  </p>

  {# <div class="section"> #}
  {#   <h2>Unsere Ziele</h2> #}
  {#   <div class="about_goal_box"> #}
  {#     <div class="about_goal_box_improvedcontent"> #}
  {#       <h3>Verbesserung Inhalte</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       regelmäßig und automatisch von parlament.gv.at importiert und #}
  {#       angereichert und verbessert neu publiziert.</p> #}
  {#     </div><!-- #}
  {#     --><div class="about_goal_box_usability"> #}
  {#       <h3>Benutzer_innenfreundlich</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       angereichert und verbessert neu publiziert.</p> #}
  {#     </div><!-- #}
  {#     --><div class="about_goal_box_alerts"> #}
  {#       <h3>Benachrichtigungen</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       regelmäßig lorem ipsum dolor sit amet und automatisch von #}
  {#       parlament.gv.at importiert und angereichert und verbessert neu #}
  {#       publiziert.</p> #}
  {#     </div> #}
  {#   </div> #}
  {# </div> #}

  <div class="section">
    <h2>Team</h2>
    <table>
      <tbody>
        <tr>
          <td><a href="https://fin.io/">Markus »Fin« Hametner</a></td>
          <td><a href="https://twitter.com/fin">@fin</a></td>
          <td>Projektleitung</td>
        </tr>
        <tr>
          <td>Mathias Huter</td>
          <td><a href="https://twitter.com/mathiashuter">@mathiashuter</a></td>
          <td>Projektkoordination</td>
        </tr>
        <tr>
          <td><a href="http://elvirastein.com/">Elvira Stein</a></td>
          <td><a href="https://twitter.com/elvirastein">@elvirastein</a></td>
          <td>Grafik und Design</td>
        </tr>
        <tr>
          <td><a href="https://github.com/lyrixderaven">Florian »Loki« Cech</a></td>
          <td><a href="https://twitter.com/lyrixderaven">@lyrixderaven</a></td>
          <td>Backend</td>
        </tr>
        <tr>
          <td><a href="http://benfreu.com/">Ben Freundorfer</a></td>
          <td><a href="https://twitter.com/benfreu">@benfreu</a></td>
          <td>Frontend</td>
        </tr>
      </tbody>
    </table>

<p>
  … und <a
    href="https://github.com/Forum-Informationsfreiheit/OffenesParlament/issues">zahlreiche
    Helfer</a> aus der Community
</p>

  </div>

  <div class="section">
    <h2 id="engagieren">Engagieren</h2>
    <p>
    OffenesParlament.at ist ein Open-Source-Projekt und basiert auch auf Beiträgen aus der heimischen Community.<br />
    
    Source-Code und Dokumentation gibt es hier: <a href="https://github.com/Forum-Informationsfreiheit/OffenesParlament" target="_blank">https://github.com/Forum-Informationsfreiheit/OffenesParlament</a>
    
    Wir möchten uns bei allen bedanken, die sich bislang in das Projekt eingebracht haben, insbesondere auch bei den MitarbeiterInnen der Parlaments-Verwaltung für die freundliche Zusammenarbeit.
    </p>
  </div>

  <div class="section">
    <h2 id="impressum">Kontakt & Impressum</h2>
    <p>
      OffenesParlament.at ist eine Initiative des
    </p>

    <p>
      <a href="https://informationsfreiheit.at">Forum Informationsfreiheit</a><br/>
      Kirchberggasse 7/8, 1070 Wien<br/>
      ZVR 796723786<br/>
      Vorstand: Josef Barth, Tanja Malle, Markus Hametner<br/>
    </p>

    <p>
      Anfragen, Feedback, Ideen, Vorschläge oder Kritik bitte an <a
        href="mailto:office@informationsfreiheit.at">office@informationsfreiheit.at</a>
    </p>
  </div>

  <div class="section">
    <h2 id="impressum">Privatsphäre </h2>
    <p>
      Diese Seite sammelt keine Informationen zum Nutzungsverhalten.
    </p>

    <p>
      Wenn Sie Email-Benachrichtigungen einrichten, speichern wir einzig die dafür verwendete Email-Adresse. Wir werden diese nur zu Versandzwecken an Dritte weitergeben. 
    </p>

    <p>
      Wir verwenden momentan <a href="https://www.mailjet.com" target="_blank">mailjet.com</a> für den Email-Versand und <a href="http://getsentry.com" target="_blank">Sentry</a> zur Behandlung von Fehlern.</a>
    </p>
  </div>

{% endblock %}
