{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Über uns" "about" %}
{% endblock %}

{% block title %}Über uns{% endblock %}

{% block content %}
  <h1>Über uns</h1>
  <p class="explanation">
    OffenesParlament.at ist eine zivilgesellschaftliches Projekt des Forum
    Informationsfreiheit, mit dem Ziel, Informationen rund um die Arbeit des
    Österreichischen Parlaments einfach auffindbar zu machen und
    benutzerInnenfreundlich aufzubereiten.
  </p>

  <p>
    Derzeit befindet sich OffenesParlament.at noch in Entwicklung. Dies
    ist eine erste Test-Version.
  </p>

  <p>
    Die Inhalte auf dieser Seite basieren auf Informationen und Daten,
    die wir von der offiziellen Webseite des Parlaments, <a
    href="https://www.parlament.gv.at/">parlament.gv.at</a>, übernehmen.
    Wir bereiten diese Daten neu auf, um etwa durch neue Verknüpfungen von
    Inhalten zusätzliche Nutzungsmöglichkeiten zu erschließen. Auch
    arbeiten wir derzeit an einem Feature für personalisierte
    Email-Benachrichtigungen für alle Inhalte, die wir auf dieser Seite
    aufbereiten.
  </p>

  <p>
    Die Entstehung des Projekt dokumentieren wir in unserem <a href="http://offenesparlament.soup.io/">Entwicklungs-Blog</a>.
  </p>

  <p>
    OffenesParlament.at wird durch die <a
      href="https://www.netidee.at/">Netidee</a> der Internet Foundation
    Austria (IPA) gefördert.
  </p>

  {# <div class="section"> #}
  {#   <h2>Unsere Ziele</h2> #}
  {#   <div class="about_goal_box"> #}
  {#     <div class="about_goal_box_improvedcontent"> #}
  {#       <h3>Verbesserung Inhalte</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       regelmäßig und automatisch von parlament.gv.at importiert und #}
  {#       angereichert und verbessert neu publiziert.</p> #}
  {#     </div><!-- #}
  {#     --><div class="about_goal_box_usability"> #}
  {#       <h3>Benutzer_innenfreundlich</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       angereichert und verbessert neu publiziert.</p> #}
  {#     </div><!-- #}
  {#     --><div class="about_goal_box_alerts"> #}
  {#       <h3>Benachrichtigungen</h3> #}
  {#       <p>TODO Inhalte wie Reden, Anfragen und Beantwortungen etc werden #}
  {#       regelmäßig lorem ipsum dolor sit amet und automatisch von #}
  {#       parlament.gv.at importiert und angereichert und verbessert neu #}
  {#       publiziert.</p> #}
  {#     </div> #}
  {#   </div> #}
  {# </div> #}

  <div class="section">
    <h2>Team</h2>
    <table>
      <tbody>
        <tr>
          <td><a href="https://fin.io/">Markus &lt;Fin&gt; Hametner</a></td>
          <td><a href="https://twitter.com/fin">@fin</a></td>
          <td>Projektleitung</td>
        </tr>
        <tr>
          <td>Mathias Huter</td>
          <td><a href="https://twitter.com/mathiashuter">@mathiashuter</a></td>
          <td>Projektkoordination</td>
        </tr>
        <tr>
          <td><a href="http://elvirastein.com/">Elvira Stein</a></td>
          <td><a href="https://twitter.com/elvirastein">@elvirastein</a></td>
          <td>Grafik und Design</td>
        </tr>
        <tr>
          <td><a href="https://github.com/lyrixderaven">Florian &lt;Loki&gt; Cech</a></td>
          <td><a href="https://twitter.com/lyrixderaven">@lyrixderaven</a></td>
          <td>Backend</td>
        </tr>
        <tr>
          <td><a href="http://benfreu.com/">Ben Freundorfer</a></td>
          <td><a href="https://twitter.com/benfreu">@benfreu</a></td>
          <td>Frontend</td>
        </tr>
      </tbody>
    </table>

<p>
  … und <a
    href="https://github.com/Forum-Informationsfreiheit/OffenesParlament/issues">zahlreiche
    Helfer</a> aus der Community
</p>

  </div>

  <div class="section">
    <h2 id="engagieren">Engagieren</h2>
    <p>
      OffenesParlament.at ist ein Open-Source-Projekt und basiert auch
      auf Beiträgen aus der Community.
    </p>

    <p>
      Source-Code und Dokumentation gibt es hier:<br/>
      <a href="https://github.com/Forum-Informationsfreiheit/OffenesParlament">https://github.com/Forum-Informationsfreiheit/OffenesParlament</a>
    </p>

    <p>
      Wir haben einige offene Code Bounties, für die wir auch ein
      kleines Honorar zahlen können, Details sind hier zu finden:<br/>
      <a href="https://github.com/Forum-Informationsfreiheit/OffenesParlament/issues">https://github.com/Forum-Informationsfreiheit/OffenesParlament/issues</a>
    </p>

    <p>
      Ihr könnt euch hier in unsere OffenesParlament.at-Mailingliste eintragen.
    </p>

    <p>
      Falls ihr Daten scrapen, Inhalte aufbereiten oder euch in das
      Projekt einbringen möchtet, <a
      href="mailto:office@informationsfreiheit.at">meldet euch bitte</a>.
    </p>

  </div>

  <div class="section">
    <h2 id="impressum">Kontakt & Impressum</h2>
    <p>
      OffenesParlament.at ist eine Initiative des
    </p>

    <p>
      <a href="https://informationsfreiheit.at">Forum Informationsfreiheit</a><br/>
      Kirchberggasse 7/8, 1070 Wien<br/>
      ZVR 796723786<br/>
      Vorstand: Josef Barth, Tanja Malle, Markus Hametner<br/>
    </p>

    <p>
      Anfragen, Feedback, Ideen, Vorschläge oder Kritik bitte an <a
        href="mailto:office@informationsfreiheit.at">office@informationsfreiheit.at</a>
    </p>
  </div>

{% endblock %}
