{% extends "base.html" %}

{% block container %}
  <div class="content">
    <div class="container">
      <div class="" id="content">
      {% load django_bootstrap_breadcrumbs %}
      {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Startseite" "/" %}
      {% endblock %}

      <div class="top_bar">
        {% render_breadcrumbs "breadcrumbs.html" %}
        {% block ggp_selector %}
          <div class="ggp_selector">
            <select>
              <option>Aktuell, seit 2013 (25.)</option>
              <option>2008-2013 (24.)</option>
              <option>2006-2008 (23.)</option>
            </select>
          </div>
        {% endblock %}
      </div>

      {% block content %}
        <h1>Hello, parliament!</h1>
      {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
