<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}offenesparlament.at{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="main_menu">
      <div class="container">
        <a href="/" class="logo navbar-brand">offenesparlament.at</a>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/parlamentarier">Abgeordnete zum Nationalrat</a>
            </li>
            <li>
              <a href="/gesetze">Gesetze</a>
            </li>
            <li>
              <a href="/schlagworte">Schlagworte</a>
            </li>
            <li>
              <a href="/wir">Über uns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
    <div class="col-xs-12">
    {% load django_bootstrap_breadcrumbs %}
    {% block breadcrumbs %}
      {% clear_breadcrumbs %}
      {% breadcrumb "Startseite" "/" %}
    {% endblock %}

    <div class="top_bar">
      {% render_breadcrumbs "breadcrumbs.html" %}
    </div>

    {% block content %}
      <h1>Hello, parliament!</h1>
    {% endblock %}
    </div>
    </div>
  </body>
</html>

