{% extends "base.html" %}

{% block container %}
  <div class="content">
    <div class="container">
      <div class="" id="content">
      {% load django_bootstrap_breadcrumbs %}
      {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Startseite" "/" %}
      {% endblock %}

      <div class="top_bar">
        {% render_breadcrumbs "breadcrumbs.html" %}
        {% block top_bar_additional %}{% endblock %}
      </div>

      <!-- EXAMPLE MESSAGES CONTAINER PLEASE ADAPT -->
      {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
      <!-- EXAMPLE MESSAGES CONTAINER PLEASE ADAPT -->


      {% block content %}
        <h1>Hello, parliament!</h1>
      {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
