{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Debatten" "debate_list" %}
  {% breadcrumb debate.full_title "debate_detail" %}
{% endblock %}

{% block title %}{{ debate.full_title }}{% endblock %}

{% block content %}
<h1>{{ debate.full_title }}</h1>

<p>{{ debate.date|date }}</p>

<div class="info_buttons law_info_buttons">
  <a href="{{ debate.protocol_url }}" class="button button_source" target="_blank">Zur Parlamentsseite</a>
  <a href="{{ debate.api_slug }}" class="button button_api" target="_blank">API</a>
</div>

{% if statements %}
  {% regroup statements by person as person_list %}
  <div class="section">
    <h2>RednerInnenliste</h2>
    <ul class="columned_linklist debate_speaker_list">
      {% for pg in person_list %}
      {% with p=pg.grouper %}
      {% with fs=pg.list|first %}
      <li>
        <a href="{{ p.slug }}">{{ p.full_name }}</a>
        {% if p.party.short %}
          <span class="party_tag {{ p.party.short_css_class }}">{{ p.party.short }}</span>
        {% endif %}
        <span class="goto_link"><a href="#statement_{{fs.id}}"># zum Redebeitrag</a></span>
        {# not using the partial party_tag.html here cause it was just to slow to repeatedly include the partial. caching was as slow #}
      </li>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if statements %}
  <div class="section">
    <h2>Redebeiträge Volltext</h2>
    <div class="debate_statement_list">
      {% for ds in statements %}
        <div class="debate_statement">
          <div class="debate_statement_image">
            <img src="{{ ds.person.photo_link }}" />
          </div>
          <div class="debate_statement_content">
            <h3>
              <a name="statement_{{ ds.id }}"></a>
              <a name="statement_pg_{{ ds.page_start }}"></a>
              <span class="debate_statement_speaker_role">{{ ds.speaker_role_verbose }}</span>
              <span class="debate_statement_speaker_name">
                <a href="{{ ds.person.slug }}">{{ ds.person.full_name }}</a>
                {% if ds.person.party.short %}
                  <span class="party_tag {{ ds.person.party.short_css_class }}">{{ ds.person.party.short }}</span>
                {% endif %}
              </span>
                {# not using the partial party_tag.html here cause it was just to slow to repeatedly include the partial. caching was as slow #}
            </h3>
            <p>{{ ds.annotated_text|safe }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="section">
    <h2>Kein Protokoll</h2>
    <p>Zu dieser Sitzung ist noch kein endgültiges stenografisches Protokoll verfügbar.</p>
  </div>
{% endif %}

{% load jsonify %}
<script>
  var OFFPARL_DATA_SEARCH_TYPE = 'Debatten';
</script>
{% endblock %}
