{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Gesetze" "laws_list" %}
  {% breadcrumb law.short_title "gesetz_detail" %}
{% endblock %}

{% block ggp_selector %}{% endblock %}

{% block title %}{{ law.title }}{% endblock %}

{% block content %}
<h1>{{ law.title }} {{ law.parl_id }}</h1>

<div class="linklist_oneline innerpage_menu">
  <a href="#parlamentarisch">Parlamentarisches Verfahren</a>
  {% if law.references %}
    <a href="#vorparlamentarisch">Vorparlamentarisches Verfahren</a>
  {% endif %}
</div>


<div class="law_details_box">
  <h2>{{ law.category.title }}</h2>

  <div class="column">
    <p>{{ law.description|safe }}</p>
    {% if law.references %}
      <p>Bezieht sich auf: {{ law.references.short_title }}</p>
    {% endif %}

    {% if law.keywords.all %}
      <h3>Schlagworte</h3>
      <p class="keyword_list">
      {% for kw in law.keywords.all %}
        <a href="{% url 'keyword_detail' keyword=kw.title_urlsafe %}">{{ kw }}</a>
      {% endfor %}
      </p>
    {% endif %}
  </div><!--
  --><div class="column">
    <h3>Status</h3>
    <p>
      <span class="law_status law_status_{{ law.simple_status }}">{{ law.status|striptags }}</span></br>
    </p>
  </div>
</div>

{% if law.PRETTY_PHASES %}
<div class="law_timeline">
  {% for catname,catslug,tlsteps in law.PRETTY_PHASES %}
  <div class="law_timeline_cat law_timeline_cat_{{catslug}}">
    <div class="law_timeline_cat_name">
      {{catname}}
    </div>
    {% for tlslug,tlname,tlre,steptextf,tlstep,tldict,steptext in tlsteps %}
      <div class="law_timeline_step law_timeline_step_{{tlslug}} {% if tlstep %}active{% endif %}">
        {% if steptext %}<div class="law_timeline_step_value">{{steptext|safe}}</div>{% endif %}
        <div class="law_timeline_step_name"><span>{{tlname}}</span></div>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% if law.press_releases.all %}
  <div class="section">
    <h2>Meldungen der Parlamentskorrespondenz</h2>
    <ul>
      {% for pr in law.press_releases.all %}
        <li>{{ pr.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="info_buttons law_info_buttons">
  <a href="{{ law.source_link }}" class="button button_source" target="_blank">Zur Parlamentsseite</a>
        <a href="#" class="button button_notifications subscription_button"
          data-subscription_url="{{ subscription_url|safe }}"
          data-search_ui_url="{{ request.path|safe }}"
          data-subscription_category="law"
          data-subscription_title="{{ subscription_title }}">Benachrichtigung aktivieren</a>
  <a href="{{ law.api_slug }}" class="button button_api" target="_blank">API</a>
</div>



<div class="section">
  <h2 id="parlamentarisch">Parlamentarisches Verfahren</h2>
  <table class="phases_list">
    <thead>
      <tr>
        <th class="date">Datum</th>
        <th class="title">Stand des parlamentarischen Verfahrens</th>
        <th class="protocol">Protokoll</th>
      </tr>
    </thead>
    <tbody>
      {% autoescape off %}
      {% for phase, steps in law.steps_by_phases.items %}
      <tr class="phase">
        <td class="date"></td>
        <td class="title">{{ phase.title_extended }}</td>
        <td class="protocol"></td>
      </tr>
        {% for step in steps %}
        <tr class="step">
          <td class="date">{{ step.date }}</td>
          <td class="title">{{ step.title }}</td>
          <td class="protocol">
            {% if step.protocol_url %}
            <a href="{{ step.protocol_url }}" class="icon_link icon_parliament">Protokoll</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
      {% endautoescape %}
    </tbody>
  </table>
</div>

{% if law.references %}
</div>
</div>
<div class="law_vorparlamentarisch_background">
<div class="container">
  <div class="section">
    <h2 id="vorparlamentarisch">Vorparlamentarisches Verfahren</h2>

    <div class="law_details_box">
      <h2>{{ law.references.category.title }}</h2>

      <div class="column">
        <p>{{ law.references.title }}</p>
        <h3>Schlagworte</h3>
        <p class="keyword_list">
        {% for kw in law.references.keywords.all %}
          <a href="{% url 'keyword_detail' keyword=kw.title_urlsafe %}">{{ kw }}</a>
        {% endfor %}
        </p>
      </div><!--
      --><div class="column">
        <ul>
        {% for doc in law.references.documents.all %}
        <li><a href="http://www.parlament.gv.at{{ doc.pdf_link }}" class="icon_link icon_pdf">{{ doc.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

{% if law.references.opinions.all %}
<h3 class="opinions_header">Es gab im vorparlamentarischen Prozess insgesamt {{ law.references.opinions.all|length }} Stellungnahme{{ law.references.opinions.all|pluralize:"n" }}.</h3>
    <table class="limited_table">
      <thead>
        <tr>
          <th class="date">Datum</th>
          <th class="title">Stellungnahme</th>
          <th class="by">Von</th>
          <th class="links"></th>
        </tr>
      </thead>
      <tbody>
        {% for opinion in law.references.opinions_and_documents %}
        <tr>
          <td class="date">{{ opinion.date }}</td>
          <td class="title">{{ opinion.parl_id }}</td>
          <td class="by">{{ opinion.entity }}</td>
          <td class="links">
            {% for document in opinion.documents.all %}
            <a target="_blank" href="http://www.parlament.gv.at{% if document.html_link %}{{ document.html_link }}{% else %}{{document.pdf_link}}{% endif %}" class="icon_link {% if document.html_link %}icon_html{% else %} icon_pdf{% endif %}">&nbsp;</a>
            {% endfor %}
            <a href="{{ opinion.source_link }}" class="icon_link icon_parliament">Parlamentsseite</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
  </div>
{% endif %}
{% if law.references.steps.all %}
<br />
  <table class="pre_law">
    <thead>
      <tr>
        <th class="date">Datum</th>
        <th class="title">Stand des vorparlamentarischen Verfahrens</th>
        <th class="protocol">Protokoll</th>
      </tr>
    </thead>
    <tbody>
      {% autoescape off %}
        {% for step in law.references.steps.all %}
        <tr class="step">
          <td class="date">{{ step.date }}</td>
          <td class="title">{{ step.title }}</td>
          <td class="protocol">
            {% if step.protocol_url %}
            <a href="{{ step.protocol_url }}" class="icon_link icon_parliament">Protokoll</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% endautoescape %}
    </tbody>
  </table>
{% endif %}

{% load jsonify %}
<script>
  var OFFPARL_DATA_SEARCH_TYPE = 'Gesetze';
</script>
{% endblock %}
