{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Gesetze" "laws_list" %}
  {% breadcrumb gesetz.short_title "gesetz_detail" %}
{% endblock %}

{% block ggp_selector %}{% endblock %}

{% block title %}{{ person.reversed_name }}{% endblock %}

{% block content %}
<h1>{{ gesetz.title }} <a href='{{gesetz.source_link}}'>[SOURCE]</a></h1>


  {% for phase, steps in gesetz.steps_by_phases.items %}
  <h2>{{phase.title}}</h2>

  <ul>
  {% for step in steps%}
  {% autoescape off %}
  <li>{{step.title}}</li>
  {% endautoescape %}
  {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
