{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Gesetze" "gesetze_list" %}
{% endblock %}

{% block title %}Regierungsvorlagen &amp; Gesetzesinitiativen{% endblock %}

{% block content %}
  <h1>Regierungsvorlagen &amp; Gesetzesinitiativen</h1>
  <p class="explanation">
    Hier finden Sie eine Übersicht über alle Regierungsvorlagen und
    Gesetzesinitiativen der aktuellen Gesetzgebungsperiode (XXV.). Sie können
    über die Suchleiste eine andere Legislaturperiode wählen oder die
    Ergebnisse verfeinern.
  </p>
  {% include 'partials/lawlist.html' with laws=laws %}
{% endblock %}
