{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Gesetze" "gesetze_list" %}
{% endblock %}

{% block title %}Abgeordnete zum Nationalrat{% endblock %}

{% block content %}
  <h1>Gesetze</h1>
  <ul class="laws_list">
    {% for law in gesetze_list %}
    <li><a href="{% url 'gesetz_detail' parl_id=law.parl_id_urlsafe ggp=law.legislative_period.roman_numeral %}">{{ law.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
