{% extends "base.html" %}

{% block title %}{% endblock %}
{% block ggp_selector %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block search_bar %}{% endblock %}

{% load staticfiles%}
{% block js_files %}
  <script src="{% static 'scripts/app.js' %}"></script>
  <script src="{% static 'scripts/homepage.js' %}"></script>
{% endblock %}

{% block container %}

<div class="homepage_content">
  <div class="container">
    <div class="homepage_search">
      <div class="search_bar">
        <div id="anysearch_container_homepage"></div>
      </div>
      <div class="help">
        <a href="#">Beispielsuche ansehen</a>
        <a href="#">Detailsuche</a>
      </div>
    </div>
  </div>
</div>
<div class="projectintro">
  <div class="container">
    <div class="projectintro_item">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_parliament">Suchen & analysieren</h3>
          <p>Hier können Sie vom österreichischen Parlament veröffentlichte
          Dokumente einfach durchsuchen, analysieren und mit handelnden
          Personen verknüpfen.</p>
        </div>
      </div>
    </div><!--
    --><div class="projectintro_item">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_paperplane">Direkt in Ihr Postfach</h3>
          <p>Wenn Sie ein Thema besonders interessiert, können Sie sich über neue
          Beiträge benachrichtigen lassen. Sie können auch Suchabfragen
          abonnieren.</p>
        </div>
      </div>
    </div><!--
    --><div class="projectintro_item_inverse">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_personsearch">Über uns</h3>
          <p>[Blindtext] Dieses Projekt wird durch die Internet Foundation
          Austria (IPA) / netidee.at gefördert.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
