{% extends "base.html" %}

{% block title %}{% endblock %}
{% block ggp_selector %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="homepage row">
  <div class="main_search col-sm-8 col-sm-offset-2 col-xs-12">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" class="form-control" placeholder="Wonach möchten Sie suchen?" />
  </div>
  <div class="help col-sm-8 col-sm-offset-2 col-xs-12">
    <a href="#">Beispielsuche ansehen</a>
    <a href="#">Detailsuche</a>
  </div>
</div>

{% endblock %}
