{% extends "base.html" %}

{% block title %}{% endblock %}
{% block ggp_selector %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block search_bar %}{% endblock %}

{% load staticfiles%}
{% block js_files %}
  <script src="{% static 'scripts/app.js' %}"></script>
  <script src="{% static 'scripts/homepage.js' %}"></script>
{% endblock %}

{% block container %}

<div class="homepage_content">
  <div class="container">
    <div class="homepage_search">
      <div class="search_bar">
        <div id="anysearch_container_homepage"></div>
      </div>
      <div class="help">
        <a href="#">Beispielsuche ansehen</a>
        <a href="#">Detailsuche</a>
      </div>
    </div>
  </div>
</div>
<div class="projectintro">
  <div class="container">
    <div class="projectintro_item">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_parliament">Suchen & analysieren</h3>
          <p>Hier können Sie vom österreichischen Parlament
          veröffentlichte Informationen finden, einordnen und
          nachvollziehen<br/><br/></p>
        </div>
      </div>
    </div><!--
    --><div class="projectintro_item">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_paperplane">Auf dem Laufenden bleiben</h3>
          <p>Demnächst wird es möglich sein, Benachrichtigungen zu
          Themen, Personen, Stichworten und Gesetzen Ihres Interesses zu
          bestellen – und wir geben via Email Bescheid, wenn sich etwas
          tut</p>
        </div>
      </div>
    </div><!--
    --><div class="projectintro_item_inverse">
      <div class="projectintro_item_border_inlay">
        <div class="projectintro_item_content">
          <h3 class="projectintro_item_icon_personsearch">Über uns</h3>
          <p>Dies ist ein zivilgesellschaftliches Projekt, mit dem Ziel,
          die Aktivitäten des Parlaments einfacher nachvollziehbar zu
          machen. Feedback &amp; Anregungen bitte an
          office@informationsfreiheit.at</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
