{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Schlagworte" "keyword_list" %}
  {% breadcrumb keyword.title "keyword_detail" %}
{% endblock %}

{% block title %}{{ keyword.title }}{% endblock %}

{% block content %}
  <h1>{{ keyword.title }}</h1>
  <p class="explanation"></p>
  <div class="section">
    <h2>Verhandlungsgegenstände</h2>
    {% include 'partials/lawlist.html' with laws=laws %}
  </div>
{% endblock %}
