{% extends "base_content.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Kommentierte Parlamentsarbeit" "about" %}
{% endblock %}

{% block title %}Kommenteirte Parlamentsarbeit{% endblock %}

{% block bodyclass %}kontext{% endblock %}

{% block menu_bar %}
  <div class="parlamentsarbeit">
    Parlamentsarbeit <span class="kontextkontext">kommentiert</span>
  </div>
{% endblock %}

{% block js_files %}
    <link rel="stylesheet" href="{% static 'css/kontext.css' %}">
{% endblock %}

{% block content %}
  <h1>Kommentierte Parlamentsarbeit</h1>

  <div class="about_kontext">
    <p><strong>»Parlamentsarbeit kommentiert«</strong> ermöglicht interessierten Bürgerinnen, NGOs und Parteien, die Arbeit des Parlaments direkt auf OffenesParlament.at zu kommentieren.</p>
    <p>Die Inhalte fallen unter die Zuständigkeit der Autorinnen und Autoren und werden nach Begutachtung durch das Team freigeschalten. Sachlichkeit und ein Bezug zur Arbeit des Parlaments sind Voraussetzungen für die Veröffentlichung.</p>
    <p>Folgende Artikel wurden bisher veröffentlicht: </p>
    <ul>{% for cc in commentedcontents %}
      <li><strong><a href="{{cc.get_absolute_url}}">{{cc.title}}</a></strong>, von {{cc.created_by_name}}</li>
      {%endfor%}</ul>
    <p>Wenn Sie selbst an dieser Stelle die Arbeit des Parlaments in Kontext setzen möchten, können Sie dies über die Schaltfläche »Abos &amp; Inhalte verwalten« in der Fußzeile tun.</p>
  </div>
{% endblock %}
