{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Personen" "person_list" %}
{% endblock %}

{% block title %}Personen{% endblock %}

{% block content %}
  <h1>Abgeordnete zum Nationalrat</h1>
  <p class="explanation">
    Hier finden Sie eine Übersicht über alle Abgeordneten zum Nationalrat in
    der aktuellen Gesetzgebungsperiode (XXV.). Um eine genauere Auswahl zu
    treffen, benutzen Sie die Suche.
  </p>
  <ul class="columned_linklist">
    {% for p in person_list %}
    <li>
      <a href="{{ p.slug }}">{{ p.full_name }}</a>
      {% if p.party.short %}
        <span class="party_tag {{ p.party.short_css_class }}">{{ p.party.short }}</span>
      {% endif %}
      {# not using the partial party_tag.html here cause it was just to slow to repeatedly include the partial. caching was as slow #}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
