{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Personen" "person_list" %}
  {% breadcrumb person.full_name "person_detail" %}
{% endblock %}

{% block ggp_selector %}{% endblock %}

{% block title %}{{ person.reversed_name }}{% endblock %}

{% block content %}
  <h1>{{ person.reversed_name }}<a href='{{person.source_link}}'>[SOURCE]</a></h1>
  <p>
    {{ person.most_recent_function_or_occupation }}
    {% include 'partials/party_tag.html' with party=person.party %}
  </p>

  <div class="person_info">
    <div class="">
      <img src="{{person.photo_link}}" />
    </div>
    <div class="">
      Geboren: {{ person.birthdate}}<br />
      {% if person.deathdate %}
        Gestorben: {{person.deathdate}}
      {% endif %}
    </div>
  </div>

  <div class="">
    <div class="">
      <h2>Statements</h2>
      <ul>
      {% for st in person.statements.all %}
        <li>
        {% if st.speech_type == "Pro" %}
          👍
        {% elif st.speech_type == "Contra" %}
          👎
        {% else %}
          {{st.speech_type}}
          {{st.protocol_url}}
        {% endif %}
        <a href="{% url 'gesetz_detail' parl_id=st.step.law.parl_id_urlsafe ggp=st.step.law.legislative_period %}">[{{st.step.date}}] {{st.step.law.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
