{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Bürgerinitiativen & Petitionen" "petition_list" %} %}
{% endblock %}

{% block title %}Petitionen und Bürgerinitiativen{% endblock %}

{% block content %}
    <h1></h1>

    <!-- EXAMPLE FORM FOR SEARCH/PAGE SUBSCRIPTION -->
    <form action="/subscribe" method="post">
        {% csrf_token %}
        <input type="hidden" name="subscription_url" value="{{ request.build_absolute_uri }}search">
        <label for="email">Email: </label>
        <input id="input_email" type="text" name="email" value=""/>
        <input type="submit" value="OK"/>
    </form>
    <!-- EXAMPLE FORM FOR SEARCH/PAGE SUBSCRIPTION -->

    <p class="explanation">
        Hier finden Sie eine Übersicht über alle Petitionen/Bürgerinitiativen zum Nationalrat in
        der aktuellen Gesetzgebungsperiode (XXV.). Um eine genauere Auswahl zu
        treffen, benutzen Sie die Suche.
    </p>
    <table class="lawlist">
        <thead>
        <tr>
            <th>Aktualisierung</th>
            <th>Art</th>
            <th>Betreff</th>
            <th>Unterschriften</th>
            <th>Nummer</th>
            <th>Ersteller</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for petition in petition_list %}
            <tr>
                <td class="lawlist_date">{{ petition.last_update }}</td>
                <td class="lawlist_category">{{ petition.category.title }}</td>
                <td class="lawlist_title"><a href="{{ petition.real_slug }}">{{ petition.title }}</a></td>
                <td class="lawlist_title"><a href="/signatures{{ petition.real_slug }}"> {{ petition.full_signature_count }}</a></td>
                <td class="lawlist_parl_id"><a href="{{ petition.source_link }}"> {{ petition.parl_id }} </a></td>
                <td class="lawlist_title">
                <ul style="list-style-type: none">
                    {% for creator in petition.creators.all %}
                        {% if creator.person.slug %}
                            <li><a href="{{ creator.person.slug }}"> {{ creator.full_name }}</a></li>
                        {% else %}
                            <li>{{ creator.full_name }}</li>

                        {% endif %}
                    {% endfor %}
                </ul>
                </td>
                <td class="lawlist_status"><span
                        class="law_status law_status_{{ petition.simple_status }}">{{ petition.simple_status }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% load jsonify %}
    <script>
        var OFFPARL_DATA_SEARCH_TYPE = 'Petitionen';
    </script>
{% endblock %}
