{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Abos verwalten" "subscriptions" %}
{% endblock %}

{% block title %}Abos verwalten{% endblock %}

{% block content %}
  <h1>Abos verwalten</h1>
  <p class="explanation">
    Demnächst wird es möglich sein, Email-Benachrichtigungen für alle
    Inhalte und Suchen dieser Seite zu bestellen. So bleiben Sie stets
    zu den Themen und Aspekten auf dem Laufenden, die Sie
    interessieren. 
  </p>

  <p class="explanation">
    Derzeit arbeiten wir noch an der Umsetzung dieses Features. 
  </p>
{% endblock %}
