@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic)
@import 'vendor/bourbon/bourbon'

// screensizes for breakpoints
$break_large: 1200px
$break_medium: 940px
$break_small: 500px
$min_margin: 30px

// colors
$menu_dark_blue: rgb(30, 69, 99)
$dark_blue: rgb(42, 79, 107)
$light_blue: rgb(129, 183, 234)
$middle_blue: rgb(3, 111, 213)
$red: rgb(245, 95, 87)
$dark_gray: rgb(38, 38, 38)
$light_gray: rgb(229, 229, 229)
$dirty_white: rgb(191, 191, 191)


body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 14px

h1
  font-size: 30px
  font-weight: bold
  margin: 50px 0 35px 0
  @media screen and (max-width: $break_small)
    font-size: 25px
    margin: 30px 0 15px 0

a, a:active, a:focus, a:visited
  color: $middle_blue
  text-decoration: none

a:hover
  color: $light_blue
  text-decoration: none


.content
  margin-bottom: 70px


.container
  width: $break_large - $min_margin
  margin: 0 auto
  overflow: hidden
  @media screen and (max-width: $break_large)
    width: $break_medium - $min_margin
  @media screen and (max-width: $break_medium)
    width: initial
    margin: 0 30px
  @media screen and (max-width: $break_small)
    margin: 0 10px


.menu_bar
  width: 100%
  background-color: $menu_dark_blue
  color: white
  overflow: hidden
  .logo
    background: url('img/offparl_logo.png') no-repeat
    background-size: 200px 24px
    background-position: 0 14px
    text-indent: -4000px
    width: 200px
    height: 50px
    display: inline-block
  nav
    float: right
    ul.menu_bar_items
      list-style: none
      padding: 0
      margin: 0
      li
        display: inline-block
        a
          color: white
          text-decoration: none
          font-size: 13px
          display: inline-block
          line-height: 50px
          padding: 0 15px
          &:hover
            color: $light_blue
            background-color: initial


.search_bar
  width: 100%
  height: 50px
  background-color: $light_gray
  .visual_search
    margin: 9px 0

ul.person_list
  @include column-count(3)
  padding: 0
  @media screen and (max-width: $break_medium)
    @include column-count(2)
  @media screen and (max-width: $break_small)
    @include column-count(1)
  li
    margin: 6px 0
    @media screen and (max-width: $break_medium)
      margin: 10px 0

.top_bar
  margin: 30px 0
  @media screen and (max-width: $break_small)
    margin: 10px 0

  .ggp_selector
    float: right

ul.breadcrumbs
  background: none
  margin: 0
  padding: 0
  display: inline-block
  font-size: 13px
  list-style: none
  padding: 0
  li
    font-weight: bold
    display: inline
    margin-right: 5px
    a
      font-weight: normal

.breadcrumbs > li + li:before
  content: "\00bb"
  margin-right: 5px
  color: black

.party_tag
  margin-left: 10px
  color: white
  padding: 1px 4px
  border-radius: 5px
  font-size: 80%
  background-color: hsl(0, 0, 80)
  &.spoe
    background-color: rgb(180, 0, 0)
  &.oevp
    background-color: rgb(0, 0, 0)
  &.gruene
    background-color: rgb(50, 175, 0)
  &.neos, &.neos-lif
    background-color: rgb(200, 0, 175)
  &.fpoe
    background-color: rgb(0, 80, 200)
  &.stronach
    background-color: rgb(240, 200, 0)
  &.bzoe
    background-color: rgb(255, 150, 0)

.person_info
  margin-top: 30px
  img
    max-width: 150px

.homepage_content
  background-color: $dark_blue
  margin-top: 0

.homepage_search
  margin: 100px 0 100px 0
  .searchbar
    position: relative
    width: 100%
    background-color: white
    padding-left:  30px
    i.glyphicon
      position: absolute
      margin: 0
      // padding: 10px
      pointer-events: none
    input
      margin: 0
      width: 100%
      line-height: 47px
      font-size: 16px
      outline: none
      border: none
  .help
    margin-top: 15px
    text-align: center
    a
      margin: 0 10px
      color: white
      &:hover
        color: $light_blue


.projectintro
  background-color: $red
  .container
    width: $break_large + 200px
    @include linear-gradient(90deg, $red, $red 66.666666666%, white 66.666666666%, white 100%)
    @media screen and (max-width: $break_large + 200px)
      width: 100%
    @media screen and (max-width: $break_medium)
      margin: 0
      background: $red
  .projectintro_item, .projectintro_item_inverse
    color: white
    display: inline-block
    width: 33.333333333%
    vertical-align: top
    overflow: hidden
    @media screen and (max-width: $break_medium)
      width: 100%
      display: block
    .projectintro_item_border_inlay
      margin: 20px 0
      overflow: hidden
      @media screen and (max-width: $break_medium)
        margin: 0 30px
      .projectintro_item_content
        margin: 20px 40px
        @media screen and (max-width: $break_medium)
          margin: 30px 0
    h2
      font-weight: bold
      font-size: 16px
  .projectintro_item_inverse
    color: $red
    @media screen and (max-width: $break_medium)
      background-color: white
  .projectintro_item:first-child .projectintro_item_border_inlay
    border-right: 1px solid white
    @media screen and (max-width: $break_medium)
      border-right: none
      border-bottom: 1px solid rgba(white, 0.5)


.footer
  width: 100%
  background-color: $dark_gray
  color: $dirty_white
  font-size: 13px
  overflow: hidden
  a
    color: white
    line-height: 200%
    &:hover
      color: $light_blue
      text-decoration: none

.footer_content
  margin: 20px auto 100px auto
  @media screen and (max-width: $break_medium)
    margin: 20px auto

.footer_left
  width: 60%
  @media screen and (max-width: $break_medium)
    margin-top: 20px

.footer_right
  width: 40%
  text-align: right
  margin-top: 1em
  @media screen and (max-width: $break_medium)
    margin-top: 70px

.footer_left, .footer_right
  display: inline-block
  vertical-align: top
  @media screen and (max-width: $break_medium)
    width: 100%
    display: block
    text-align: left
  @media screen and (max-width: $break_small)
    text-align: left

.footer_menu
  margin-top: 0
  list-style: none
  display: inline-block
  padding: 0
  vertical-align: top
  text-align: left

.footer_usermenu
  margin-left: 80px

.footer_menu
  @media screen and (max-width: $break_small)
    margin: 0
    width: 50%
    display: inline-block
    text-align: left


.footer_logos
  a
    display: inline-block
    background-repeat: no-repeat
    margin-right: 20px
    vertical-align: middle
    opacity: 0.8
    &:hover
      opacity: 1.0
  .netidee
    width: 100px
    height: 60px
    background-image: url('img/netidee_logo.png')
    background-size: auto 60px
  .foi
    width: 230px
    height: 43px
    background-image: url('img/foi_logo.png')
    background-size: auto 43px
