{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Abos verwalten" "subscriptions" %}
{% endblock %}

{% block title %}Abos verwalten{% endblock %}

{% block content %}
{% if email %}
  <h1>Benachrichtigungen für <span class="abo_email">{{ email }}</span></h1>
{% else %}
  <h1>Login</h1>
{% endif %}

  <p class="explanation">
    {% if message %}
      {{ message }}
    {% endif %}
  </p>

  {% if subscriptions %}
    <table>
      <thead>
        <tr>
          <th>Inhalt des Abos</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for sub in subscriptions %}
        <tr>
          <td class=""><a href="{{ sub.content.ui_url }}" target="_blank">{{ sub.content.title }}</a></td>
          <td class=""><a href="{{ sub.unsub_slug }}">Abo löschen</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p>Sie können neue Abos erstellen, indem Sie eine Suche durführen und sie dann abonnieren.</p>

  <h1>Kommentierte Parlamentsarbeit von <span class="abo_email">{{ email }}</span></h1>
  {% if commentedcontents %}
    <table>
      <thead>
        <tr>
          <th>Titel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for cc in commentedcontents %}
        <tr>
          <td class="">
            {% if cc.get_absolute_url %}<a href="{{ cc.get_absolute_url }}" target="_blank">{{ cc.title }}</a>{% else %}
              {{cc.title}}
              {% endif %}
          </td>
          <td class=""><a href="{{ cc.get_edit_url }}">Editieren</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <p class="add_commentedcontent"><a href="{{commentedcontent_new}}">Kommentartext erstellen</a></p>
{% endblock %}
