{% extends "base_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Abos verwalten" "subscriptions" %}
{% endblock %}

{% block title %}Abos verwalten{% endblock %}

{% block content %}

  <form action="" method="post" class="abo_login">
    {% csrf_token %}

    <div class="message">
      {{ form.message.errors }}
      {{ form.message }}
    </div>

    {{ form.email.errors }}
    {{ form.email }}<!--
    --><input type="submit" value="Abos verwalten" class="button">
    <p class="hint">
      Geben Sie Ihre E-Mailadresse ein, um Ihre Benachrichtungen zu verwalten oder zu löschen.
    </p>
  </form>

{% endblock %}
